.search-card{
    padding: 0 10%;
    position: fixed;
    z-index: 100;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #ddd;
    padding: 75px 5px;
}
h3{
  flex: 1;
  margin: 0;
}
.example-form {
    flex: 3;
/*     max-width: 500px; */
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
  }
  
  .example-full-width {
    width: 100%;
  }


.example-card {
    max-width: 300px;
    margin: 5px auto;
   /*  margin: 5px auto; */
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  mat-card-content{
/*       display: flex;
      justify-content: space-around; */
  }
  mat-card-content img{
    width: 100%;
    /* height: 50%; */
  }
  mat-card-actions{
      display: flex;
      justify-content: space-between;
  }
  a{
    color: dodgerblue;
  }
