
mat-toolbar{
  position: fixed;
  z-index: 99;
}
.mat-form-field-prefix, .mat-form-field-suffix{
  position: relative;
  top: 10px !important;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #ddd;
    padding-top: 75px;
}
.logo{
  margin-right: 20px;
}
.example-form {
    flex: 3;
    display: flex;
    justify-content: space-between;
  }
  
  .example-full-width {
    width: 100%;
  }


.example-card {
    max-width: 300px;
    margin: 5px auto;
  }
  
  .example-header-image img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  mat-card-content img{
    width: 100%;
  }
  mat-card-actions{
      display: flex;
      justify-content: space-between;
  }
  a{
    color: dodgerblue;
  }
  .mat-standard-chip{
    min-height: 21px;
    margin: 1px !important;
    font-size: 12px;
    background: no-repeat;
    border: solid 1px #ddd;
    color: rgb(71, 69, 69);
  }

